<a href="https://colab.research.google.com/github/Sandrad100/Ola-mundo/blob/main/IaAula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Meu Primeiro Programa (Parte 1)**

In [1]:

n1=10
n2=35
#operadores aritmeticos
soma = n1 + n2
modulo = n2 % n1
quociente = n2 // n1
print("Soma:", soma)
print("Módulo", modulo)
print("Quociente", quociente)
#operadores de atribuicao
n1+=n2 #n1 = n1 + n2
n2*=5 #n2 = n2 *5
print(f"n1= {n1}")
print(f"n2= {n2}")

Soma: 45
Módulo 5
Quociente 3
n1= 45
n2= 175

# **Meu primeiro programa (Parte 2)**

In [2]:
# Primeiro programa (comentário de uma linha)
'''
Aqui vamos comentar o programa
em várias linhas
'''

print ("Meu primeiro programa em Python")

Meu primeiro programa em Python

#**Meu Primeiro Programa (Parte 3)**

In [3]:
#criando as variáveis
nome = "João de Almeida"
idade = 30
endereco = "Avenida Francisco Glicério, 50"
altura = 1.78
peso = 59
sim = True
sexo = "M"
#Mostrando
print(f'Nome:{nome}')
print(f'Idade: {idade}')
print(f'Endereço:{endereco}')
print(f'Peso: {peso} kg')

Nome:João de Almeida
Idade: 30
Endereço:Avenida Francisco Glicério, 50
Peso: 59 kg

#**Minha atividade prática, trocando as variáveis**

In [4]:
#criando as variáveis
nome = "Sandra Decembrino"
idade = 54
endereco = "Rua Pedro Astolfo, 50"
altura = 1.56
peso = 65
sim = True
sexo = "F"
#Mostrando
print(f'Nome:{nome}')
print(f'Idade: {idade}')
print(f'Endereço:{endereco}')
print(f'Peso: {peso} kg')

Nome:Sandra Decembrino
Idade: 54
Endereço:Rua Pedro Astolfo, 50
Peso: 65 kg

#**Atividade prática 1**

**Entrada de dados**

In [5]:
nome = input('Digite o seu nome:')
idade = int(input('Digite a sua idade:'))

Digite o seu nome:Sandra Decembrino
Digite a sua idade:54

**Saída de Dados**

In [6]:
print(f'Nome: {nome}')
print(f'Idade: {idade}')

Nome: Sandra Decembrino
Idade: 54

#**Desafio: Tratando excessões**

In [7]:
idade = int(input('Digite a sua idade:')) ### Vamos corrigir!!!

Digite a sua idade:4a

ValueError: ignored

In [8]:
try:
  idade = int(input('Digite a sua idade:'))
except:
  print('Digite um número válido')

Digite a sua idade:4a
Digite um número válido